@import 'colors';
@import 'fonts';

html,
body,
main {
    height: 100%;
}

body {
    color: $copy;
    font-family: $bodyFontFamily;
    font-size: 100%;
    font-weight: 300;
    margin: 0;
}

main {
    position: relative;
}

canvas {
    height: 100%;
    width: 100%;
}

form {
    background: rgba(255, 255, 255, 0.5);
    max-width: percentage(2 / 3);
    padding: 8px 12px 12px 8px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

button {
    background: transparent;
    border: none;
    padding: 0;
}
